{% macro render(items, depth = 1) %}
    {% import _self as menu %}

    <ul class="simple-menu-level-{{ depth }}">
        {% for item in items %}
            <li>
                <a href="{{ item.path }}">
                    {{- item.title -}}
                </a>
                {% if item.__children %}
                    {{ menu.render(item.__children, depth + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
