{% extends '@SonataAdmin/CRUD/list_string.html.twig' %}

{%- block field %}
    <span>
    {% for i in 2..object.lvl %}
        {% if object.lvl != 1 %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}{% if loop.last and object.lvl != 1 %}&boxur;&boxh;&nbsp;{% endif %}
    {% endfor %}
        {{ object.title }}
</span>
    &nbsp;
    {% include 'SimpleMenuBundle:CRUD:field_tree_down.html.twig' %}
    {% include 'SimpleMenuBundle:CRUD:field_tree_up.html.twig' %}
    &nbsp;
    <div class="btn-group action-bar" role="group">
        {% include 'SimpleMenuBundle:CRUD:list__action_add_child.html.twig' %}
    </div>
{% endblock %}
