<a class="btn btn-sm btn-default" href="{{ path('admin_kunicmarko_simplemenu_menu_menuitem_list', {'id': object.id }) }}">
    <i class="fa fa-bars"></i> {{ 'action.menu_children'|trans({}, 'SimpleMenuBundle') }}
</a>
